<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>TinyApp</h1>
  <form action="/login" method="POST" style="display: inline-block">
    <h2>Sign in</h2>
    <label for="username">Enter Username:</label>
    <input id="username" type="text" name="username" placeholder="Type username here..." style="width: 300px"></input>
    <input type="submit" value="Sign in" style="background-color: pink"></input>
  </form>
</body>
</html>
