<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body bgcolor="#B2B48C">
    <a href="/urls">Home</a>
    <a href="/urls/new">Create a New Short Link</a>
    <center><h1 style="border-style: solid;">TinyApp&#9731</h1></center>
    <% if (user) { %>
      <p style="position: absolute; top: 6px; right: 4px; width: 500px; text-align:right;">Logged in as <%= user.email %></p>
      <form action="/logout" method="POST" style="position: absolute; top: 0px; right: 4px; width: 100px; text-align:right;">
        <input type="submit" value="logout" style="background-color: black; color: white"></input>
      </form>
      <center><h2 style="display: inline-block;">Welcome <%= user.email %>! </h2></center>
      <br/>
    <% }else{ %>
    <% } %>
  </body>
</html>
