<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body bgcolor="#B2B48C">
  <header>
    <a href="/urls">Home</a> / <a href="/urls/new">New</a> / <a href="/register">Register</a> / <a href="/login">Login</a>
    <form action="/logout" method="POST" style="float: right">
      <input type="submit" value="logout" style="background-color: black; color: white"></input>
    </form>
    <center><h1 style="border-style: solid;">TinyApp&#9731</h1></center>
  </header>
</body>
</html>
