<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <header>
      <% include ./partials/_header %>
    </header>
    <br/>
    <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="form-login">
          <center><h3>Login</h3></center>
          <br/>
          <form action="/login" method="POST">
            <input id="email" type="email" name="email" placeholder="contact@example.com" class="form-control input-sm chat-input" </input>
            </br>
            <input id="password" type="password" name="password" placeholder="password" class="form-control input-sm chat-input"</input>
            </br>
            <center>
            <div class="wrapper">
            <span class="group-btn">
              <input type="submit" value="Log in" class="btn btn-info btn-sm" style="width:150px;height:30px"><i class="fa fa-sign-in"></i></input>
            </span>
            </div>
            </center>
          </form>
          <center><small>Not Registered? <a href="/register">Register here</a></small></center>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>