<!DOCTYPE html>

<html>
<head>
  <title> Register </title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h2>Register!</h2>
    <form action="/register" method="POST" style="display: inline-block;">
      <label for="email">Enter email:</label>
      <input id="email" type="email" name="email" placeholder="contact@example.com" style="width: 300px"></input>
      <br/>
      <label for:"password">Enter password:</label>
      <input id="password" type="password" name="password" placeholder="Enter password..." style="width: 200px"></input>
      <input type="submit" value="register" style="background-color: grey; color: white"></input>
    </form>
</body>
</html>