<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
   <header>
      <% include ./partials/_header %>
    </header>
    <% if (user){ %>
      <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <h2>ShortURL: <%= shortURL %></h2>
        <label for="longURL">Enter a new URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"></input>
        <input type="submit" value="Update" style="background-color: yellow"></input>
      </form>
    <% } else { %>
      <center>
      <a href="/register" class="btn btn-info btn-xs">Register Now!</a>
      <p>or</p>
      <a href="/login" style="color: blue">Login</a> to access URLs!
      </center>
    <% } %>
  </body>
</html>