<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="font-size:20px; padding:50px;">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <header>
      <% include ./partials/_header %>
    </header>
    <div class="container">
    <div class="row">
      <div class="Absolute-Center is-Responsive">
        <div class="form-login">
          <br/>
          <h4>Create a New Short Link</h4>
          <form action="/urls" method="POST">
            <input id="longURL" type="text" name="longURL" placeholder="http://" class="form-control input-sm chat-input" </input>
            <div class="wrapper">
            <span class="group-btn">
              <br/>
              <center><input type="submit" value="Submit" class="btn btn-info btn-sm" style="width:150px;height:30px"><i class="fa fa-sign-in"></i></input></center>
            </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>